*.[oa]
*~
*.Plo
*.pc
*.Po
*.la
*.lo
CMakeFiles
CMakeCache.txt
CMakeLists.txt.user
*.cxx_parameters
autom4te.cache
!cmake_modules
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
Makefile
*.cxx
version.h
config.guess
config.h
config.h.in
config.log
config.sub
config.status
.libs
.deps
*.depends
install-sh
libtool
stamp-h1
.dirstamp
autostuff
Makefile.in
configure
aclocal.m4

DSView/ui_*.h
DSView/DSView
DSView/install_manifest.txt
DSView/qrc_DSView.cpp
DSView/qrc_style.cpp
DSView/qrc_breeze.cpp
DSView/qrc_language.cpp
DSView/config.h

moc_*.cpp
moc_*.cpp_parameters

DSView-prj
build*
share
.vscode
qtpro
test
qtpro5
.DS_Store
.qt
win32x
qrc_*
install_manifest.txt

# CLion-specific
.idea/
cmake-build*/
