*.[oa]
*~
*.Plo
*.pc
*.pc.in
*.Po
*.la
*.lo
CMakeFiles
CMakeCache.txt
autom4te.cache
*.cmake
!cmake_modules
Makefile
*.cxx
config.h
config.log
config.status
.libs
.deps
libtool
stamp-h1
.dirstamp
autostuff
Makefile.in
configure
aclocal.m4

DSLogic-gui/ui_*.h
DSLogic-gui/DSLogic

moc_*.cxx
moc_*.cxx_parameters

libusbx-1.0.18/doc/doxygen.cfg
