[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=DSView
Comment=GUI Program for DreamSourceLab USB-based Instruments
TryExec=DSView
Exec=DSView
Icon=dsview
Terminal=false
Categories=Development;Electronics;Qt;
